# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Precompiled symbols database
*.idb
#Visual studio files
*.ide
*.pdb
*.log
*.htm
*.suo
*.VC.db
*.db
*.db*

# Visual Studio generated folders
*/.vs/
bin/
obj/
x64/
LANshareShellExt.tlog/


#Other
LANshare_ema/
LANshare_en/
LANshare/.vs/

*.psd
