# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio generated folders
bin/
obj/
*.opendb

#Other Visual studio files
.suo
.db
.ide
.pdb
LANshare/.vs/
LANshare/.vs/LANshare/v15/
.vs/

#Other
LANshare_ema/